<section>
    <h2 class="fontRaleway">OUR MENU</h2>
    <div class="our-menu-dishes">
        <img src="./../../../assets/img/2. R1-CP.png">
        <div class="h3-and-tabele">
            <h3 class="fontEconomica">Tonkatsu Ramen</h3>
            <table class="auswahl">
                <tr>
                    <td id="dish1-ingredient1">CHICKEN</td>
                    <td></td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="dish1-ingredient2">BEEF</td>
                    <td></td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="dish1-ingredient3">SHRIMP</td>
                    <td class="leer"></td>
                    <td>11.95€</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="our-menu-dishes">
        <div class="h3-and-tabele">
            <h3 class="fontEconomica">Spicy Miso Ramen</h3>
            <table class="auswahl">
                <tr>
                    <td id="dish1-ingredient1">CHICKEN</td>
                    <td></td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="dish1-ingredient2">BEEF</td>
                    <td></td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="dish1-ingredient3">SHRIMP</td>
                    <td class="leer"></td>
                    <td>11.95€</td>
                </tr>
            </table>
        </div>
        <img src="./../../../assets/img/3. R2-CP.png">
    </div>
    <div class="our-menu-dishes padding-bot-96px">
        <img src="./../../../assets/img/4. R3-CP.png">
        <div class="h3-and-tabele">
            <h3 class="fontEconomica">Shio Ramen</h3>
            <table class="auswahl">
                <tr>
                    <td id="dish1-ingredient1">CHICKEN</td>
                    <td></td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="dish1-ingredient2">BEEF</td>
                    <td></td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="dish1-ingredient3">SHRIMP</td>
                    <td class="leer"></td>
                    <td>11.95€</td>
                </tr>
            </table>
        </div>
    </div>

</section>