// Below is the old css style
.navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 112px;
    justify-content: space-around;
    align-items: center;
    display: flex;

    .sakuralogo {
        width: 64px;
        height: 64px;
        font-family: 'Raleway', sans-serif;

        img {
            width: 100%;  
            height: auto; 
        }
    }

    .navigationbar {
        display: flex;
        justify-content: flex-end;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        color: white;
        align-items: center;
        gap: 32px;

        .navlink {
            text-decoration: none;
            color: white;

            &:hover {
                color: #1560ab;
            }
        }

        .naviPhone {
            background-color: red;
            border: 2px solid white;
            border-radius: 12px;
            padding: 5px;
            text-decoration: none;
            color: white;

            &:hover {
                color: #0A141E;
                background-color: rgb(204, 22, 22);
            }

            .phoneImgae {
                width: 30px;
                height: 30px;
            }
        }

        .language-img {
            width: 64px;
            height: 64px;
        }
    }
}

// ---------------- old css style ----------------
// .navigation {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     height: 112px;
//     justify-content: space-around;
//     align-items: center;
//     display: flex;
// }

// .navigationbar {
//     display: flex;
//     justify-content: flex-end;
//     font-family: 'Raleway', sans-serif;
//     font-size: 24px;
//     color: white;
//     align-items: center;
//     gap: 32px;

//     >img {
//         width: 64px;
//         height: 64px;
//     }

// }

// .navlink {
//     text-decoration: none;
//     color: white;

//     &:hover {
//         color: #1560ab;
//     }

// }

// .sakuralogo {
//     width: 64px;
//     height: 64px;
//     font-family: 'Raleway', sans-serif;
// }

// .language-img {
//     width: 64px;
//     height: 64px;
// }

// .naviPhone {
//     background-color: red;
//     border: 2px solid white;
//     border-radius: 12px;
//     padding: 5px;
//     text-decoration: none;
//     color: white;

//     &:hover {
//         color: #0A141E;
//         background-color: rgb(204, 22, 22);
//     }
// }

// .phoneImgae {
//     width: 30px;
//     height: 30px;

// }